#root {
    width: 100%;
    height: 100%;
}

.spz-login-page {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content:  center;
    align-items:  center;
}

.spz-login-form {
    border: 1px solid #d0d0d0;
    border-radius:20px;
    padding: 15px 25px 0 25px !important;
}

/* center modal icon for sign up */
.spz-signup-modal .ant-modal-title {
    display: flex;
    justify-content: center;
}

.spz-form-icon {
    color: rgba(0,0,0,.25);
}

.spz-home-layout-icon {
    font-size: 18px;
}

.home-sider-logo {
    width: 50%;
    margin: 10px 0px 10px 0px;
}