#root {
    width: 100%;
    height: 100%;
}

/* ###MISCS### */
/* ###MISCS### */
/* ###MISCS### */

.spz-text-centerer {
    text-align: center;
}

/* ###LOGIN/SIGNUP FORM### */
/* ###LOGIN/SIGNUP FORM### */
/* ###LOGIN/SIGNUP FORM### */

.spz-login-page {
    height: 100%;
    display: flex;
    text-align: center;
}

.spz-login-container {
    width: 100%;
    align-items:  center;
}

.spz-login-form {
    border: 1px solid #d0d0d0;
    border-radius:20px;
    padding: 15px 25px 0 25px !important;
}

/* center modal icon for sign up */
.spz-signup-modal .ant-modal-title {
    display: flex;
    justify-content: center;
}

.spz-form-icon {
    color: rgba(0,0,0,.25);
}

/* ###LOADING SCREEN### */
/* ###LOADING SCREEN### */
/* ###LOADING SCREEN### */

/* center the spinner in loading screen */
.spz-loadscreen-container {
    align-items:  center;
    display: flex;
    height: 100%;
    justify-content: center;
}

/* ###HOME### */
/* ###HOME### */
/* ###HOME### */

.spz-home-layout-icon {
    font-size: 18px;
}

.spz-layout .ant-menu-item, .spz-layout .ant-menu-submenu  {
    text-align: left;
}

.spz-sider-logo {
    width: 50%;
    margin: 10px auto 10px auto;
    display: block;
}